@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&family=Khand:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


html{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Jura', sans-serif;

}
.title{
    font-size: 50px;

}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
 

.card-img-top{
    height: 28rem;
    width: 100%;
 }


